// ======================================
//  Variables
// ======================================

// Fonts
@import url("https://fonts.googleapis.com/css?family=Istok+Web");
@import url('https://fonts.googleapis.com/css?family=Poppins&subset=latin-ext');

$font-stack-primary: 'Poppins', sans-serif;
$font-stack-secondary: 'Istok Web', sans-serif;

// Colors
$color-primary: #215580;
$color-secondary: #a17820;
$color-hightlight: #802c21;

$black: #000;
$white: #fff;
$color-panel: #E8E8EE;