// ======================================
//  Footer Styles
// ======================================

.page-footer {
    background-color: $color-primary;
    
    a {
        font-weight: bold;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
            color: $color-secondary !important;
        }
    }
}

.fab {
    font-weight: normal;
    font-size: 36px;
    padding-left: 10px;
    padding-right: 10px;
}