// ======================================
//  Navbar Styles
// ======================================

.nav-main {
    background-color: $color-primary;
    font-family: $font-stack-primary;    
}

.sidenav {
    background-image: url("../media/tentacle.png");
    background-repeat: no-repeat;
    background-position: bottom;
}