// ======================================
//  Parallax Styles
// ======================================

.parallax-container {
    min-height: 300px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
    margin-bottom: 2em;
    margin-top: 2em;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }

    #index-banner .section {
      top: 10%;
    }
}

#whale-img {
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    -o-filter: brightness(40%);
    -ms-filter: brightness(40%);
    filter: brightness(40%);
}